/* Adicione esta media query */
@media (max-width: 1201px) {

    /* Ajuste o cabeçalho */
    .menugeral ul {
        margin-left: 0;
        position: relative;
    }
    .menugeral img {
        margin-right: 0;
        width: 200px; /* Reduza o tamanho do logo */
    }

    /* Ajuste o título de serviços */
    .titulo-servico h1 {
        font-size: 1.8em;
    }

    /* Ajuste a galeria de cards */
    .gallery {
        justify-content: center;
    }
    .card {
        width: 100%;
        margin-bottom: 20px;
    }
    .card:hover {
        width: 100%;
    }

    /* Ajuste o texto sobre */
    .texto-sobre ul {
        width: 100%;
        margin: 0;
    }

    /* Ajuste o carrossel de imagens */
    .carrosel {
        width: 100%;
    }

    /* Ajuste os ícones de missão, visão e valores */
    .icone-titulo h1, .missao h4, .visao h4, .valores h4 {
        margin: auto 10px;
    }

    /* Ajuste a imagem de árvore */
    .imagem-tiverde img {
        padding: 10px;
        width: 100%;
        height: auto;
        margin-left: 0;
    }

    /* Ajuste o rodapé */
    .logo-footer img {
        width: 150px;
    }
    .topicos {
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }
    .sociais {
        justify-content: flex-start;
        margin-top: 10px;
    }

}